<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">

    <resultMap id="userMap" type="domain.User">
        <id column="num" property="num" jdbcType="INTEGER"/>
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="fixed_name" property="fixedName" jdbcType="TINYINT" javaType="java.lang.Boolean"/>
        <result column="level" property="level" />
    </resultMap>

    <select id="getAllUsers" resultMap="userMap">
        SELECT * FROM user
    </select>

    <select id="getUserByFixedNickname" resultMap="userMap">
        SELECT * FROM user
        WHERE nickname = #{nickname} AND fixed_name = 1
    </select>

    <select id="getUserById" resultMap="userMap">
        SELECT  * FROM user WHERE ID = #{id}
    </select>

    <select id="getUserByIdPw" resultMap="userMap" parameterType="domain.User">
        SELECT * FROM user WHERE ID = #{id} AND passwd = sha2(#{passwd}, 256)
    </select>

    <insert id="insertUser" parameterType="domain.User">
        INSERT INTO user(ID, passwd , nickname, email, fixed_name) VALUES (#{id}, sha2(#{passwd}, 256) , #{nickname}, #{email}, #{fixedName})
    </insert>
</mapper>